/bower_components/
/node_modules/
/.pulp-cache/
/.spago/
/output/
/generated-docs/
/.psc-package/
/simple-examples/bower_components/
/simple-examples/output/
/simple-examples/dist/*.js
/audiograph-editor/bower_components/
/audiograph-editor/output/
/audiograph-editor/dist/*.js
/.psc*
/.purs*
/.psa*
